body {
	background: #526bc4;	
}

.heading {
  background-color: black;
}

h1  {
  color: #e8f9f6;
  font-family: arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.wrapper {	
	margin-top: 80px;
  margin-bottom: 80px;
}

.form-login {
  	max-width: 380px;
  	padding: 15px 35px 45px;
  	margin: 0 auto;
  	background-color: #fff;
  	border: 1px solid rgba(0,0,0,0.1);  
}
.form-login .form-login-heading {
	margin-bottom: 30px;
}
.form-login {
  font-weight: normal;
}
.form-login	.form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.form-login .form-control:focus {
  z-index: 2;
}
.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 20px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}